<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normaliza.css">
    <link rel="stylesheet" href="./css/inicio.css">
    <title>SCHEDULE APPOINTMENT</title>
</head>
<body>
    <div class="container">
        <div class="contain-section">
        <section>
            <h2 id="example">SCHEDULE</h2>
            <h2>APPOINTMENT</h2>
        </section>
        <section>
            <h3>¿QUIERES RESERVAR UNA CITA?</h3> 
            <h3>INGRESA AQUI</h3>
        </section>
        <section1>
            <a class="boton" href="/login">LOGIN</a>
            <a class="boton" href="/register">REGISTER</a>
        </section>
        </div>
        <section>
            <img src="./img/istockphoto-1241712498-612x612-removebg-preview.png" alt="imagen">
        </section>
    </div>
</body>
</html>