<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normaliza.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>PAGINA_4</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="/register">REGISTRO</a>
                </li>
            </ul>
        </nav>
    </header>
    <form action="/logicalogin" method="post">
        <div class="container">
            <div class="imagen">
                <img src="./img/PRIMERA-IMG-removebg-preview.png" alt="PRIMERA-IMG">
            </div>
            <div class="form">
                <div class="perfil">
                    <img src="./img/bienvenida-removebg-preview.png" alt="PRIMERA-IMGbienvenida" width="100px" height="100px">
                </div>
                <div class="centro">
                    <h1>Bienvenido</h1>
                </div>
                <br>
                <label for="email">Email</label>
                <input name="email" type="email" placeholder="Email">
                <br>
                <label for="password">Contraseña</label>
                <input name="password" type="password" placeholder="Contraseña">
                <div class="bottoncenter">
                    <button type="submit" class="btn_btn-primary">Entrar</button>
                </div>
            </div>
    </form>
</body>

</html>